fastapi==0.109.2
pydantic==2.11.7
torch
transformers
optimum
numpy==1.26.4
pandas==2.1.1
scikit-learn==1.6.1
starlette==0.36.3
threadpoolctl==3.6.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.23.2
